@{
    ViewData["Title"] = "AccessDenied";
}

<div class="row">
    <div class="col-4 offset-4">
        @*soldan 4 birim ötele 4 birimlik bir kolon yap geri kalanı da 4 birim toplam 12*@
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1> @*boostrapten display 4 css, çizgi için border bottom kalınlık, padding bottom 2*@
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-3x"></i></h1>
        <p>You do not have access to the related page.</p>
        <div class="text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Home Page!</a>
        </div>
    </div>
</div>