@model CreateUserModel
@{
    ViewData["Title"] = "Create User";
}

<div class="row">
    <div class="col-4 offset-4"> @*soldan 4 birim ötele 4 birimlik bir kolon yap geri kalanı da 4 birim toplam 12*@ 
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1> @*boostrapten display 4 css, çizgi için border bottom kalınlık, padding bottom 2*@
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post"> @*veri göndermek icin,sayfanın tepesinde hangi adres varsa o adrese dataları post etmeye calısıyor post ederken de yukardaki viewmodeli kullanıyor *@
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div> @*genel hataları göstermek icin ama propertylerin dısındakileri*@
           
            
            <div class="form-group mb-3">
                <label asp-for="FullName" class="form-label">Full Name</label>
                <input asp-for="FullName" class="form-control" placeholder="nil ela" />
                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div>
            
            <div class="form-group mb-3"> @*margin bottom 3*@
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" placeholder="nilela" /> @*placeholder icerisinde gözüken o örnek ipucu metni*@
                <span asp-validation-for="Username" class="text-danger" small"></span> @*username ile ilgili hataları bu span icinde göster *@
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" type="password" placeholder="P@assW@rd!!!" /> @*placeholder icerisinde gözüken o örnek ipucu metni*@
                <span asp-validation-for="Password"  class="text-danger" small"></span> @*password ile ilgili hataları bu span icinde göster *@
            </div>

            <div class="form-group mb-3">
                <label asp-for="RePassword" class="form-label">RePassword</label>
                <input asp-for="RePassword" class="form-control" type="password"  placeholder="P@assW@rd!!!" /> @*placeholder icerisinde gözüken o örnek ipucu metni*@
                <span asp-validation-for="RePassword" class="text-danger" small"></span> @*password ile ilgili hataları bu span icinde göster *@
            </div>

            <div class="form-group mb-3">
                <label asp-for="Role" class="form-label">Role</label>
                <select asp-for="Role" class="form-select">
                    <option value="">Please Select</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
                <span asp-validation-for="Role" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Locked">
                    <label class="form-check-label" asp-for="Locked">
                        Locked
                    </label>
                </div>
            </div>

            <div class="form-group mb-3"> @*logini ordaki colona yaymak için display grid class kullandık*@
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-save me-2"></i>Save</button> @*burda da display block class*@
            </div>


        </form>
    </div>
</div>